@import url("https://assets.gentoo.org/tyrian/bootstrap.min.css");
@import url("https://assets.gentoo.org/tyrian/tyrian.min.css");

.gl-page-with-sidebar .sidebar.sidebar-blue .sidebar-footer, .gl-page-with-sidebar .sidebar.sidebar-blue a:hover, .gl-page-with-sidebar .sidebar.sidebar-blue ul .sidebar-main {
  background: #54487A;
}

.gl-page-with-sidebar .sidebar.sidebar-blue {
  background: #61538D;
}

.gl-page-with-sidebar .sidebar.sidebar-blue ul .sidebar-title {
  color: #FFF;
}

.navbar {
    border-radius: 0;
}